{% extends "tabler/dashboard_base.html" %} {% from "helpers/_formhelpers.html" import render_field %} {% block title
%}{{ club.name }} Settings{% endblock %} {% block body %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">{{ club.name }}</h1>
        </div>
        <div class="row">
            {% include 'club/club_facilities.html' %}
            {% include 'club/club_info.html' %}
            
        </div>
    </div>
</div>
{% endblock %}
