*.pyc
*.pyo
*.swp
*~

# Packages
*.egg
*.egg-info
dist
build/
eggs
bin
sdist

#Sphinx builds
_build

# Installer logs
pip-log.txt

# Flake8 violation file
violations.flake8.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
__pycache__
database.db
.vscode
.pytest_cache

# Sphinx
docs/_build

# Virtual environments
env
env*
venv
venv*

# Env Vars
*.env*

.webassets-cache
*.cache
.DS_Store
*.sublime-*

# Temp/Build files
tmp/*
!tmp/.touch
app/static/public/*
!app/static/public/images/*
!app/static/public/ignite/*
!app/static/public/fonts/*
ignite-code.txt
dev.sh
broken_database.db

databaseJamesRobertCarthewAccountLoaded.db