{% extends "tabler/dashboard_base.html" %} {% block title %}{{ player.full_name }} Profile{% endblock %} {% block js %} {% assets
    "tabler_plugins_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %} {% assets "tabler_plugins_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %} {% endblock %} {% block body %}
    
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">{{ player.full_name }} Profile</h1>
            </div>
            <div class="row row-cards">
                
            </div>
        </div>
    </div>
    {% endblock %}
    