{% extends "player/public_base.html" %}{% block title %}{{ club.name }}{% endblock %} {% block body %}

<div class="jumbotron">
    <h1>Hi, {{player.first_name}}!</h1>
    <p class="lead">Ready to Play?</p>
</div>

<div class="row">
    <div class="col-8 col-sm-12 col-lg-8">
        {% include 'player/public_player_available_form.html' %}
        {% include 'player/public_score_cards.html' %}
        
    </div>

    <div class="col-4 col-sm-12 col-lg-4">
        {% include 'player/public_upcoming_matches.html' %}
        {% include 'player/public_upcoming_leagues.html' %}
    </div>
</div>
{% endblock %}
