{% block body %}
<div class="col-4">
    <div
        id="facilitiesElement"
    ></div>

    <div class="card" style="flex: 1;">
        <div class="card-header">Facilities</div>
        <div class="card-body">
            {% if club.facilities %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Use</th>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for facility in club.facilities %}
                    <tr>
                        <td facility="{{facility.id}}">
                            <div class="form-check mb-3 ">
                                {% if league.facility_in_league(facility) %}
                                <input checked type="checkbox" class="form-check-input-lg facility-checker" facility="{{facility.id}}" id="facility-{{ facility.id }}" >
                                {% else %}
                                <input type="checkbox" class="form-check-input-lg facility-checker" facility="{{facility.id}}" id="facility-{{ facility.id }}" >
                                {%endif%}
                            </div>
                        </td>
                        <td>{{ facility.name }}</td>
                        <td>{{ facility.asset_type }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No facilities available.</p>
            <p>Head over to Club Settings to add some Facilities.</p>
            <a href="{{ url_for('club.index') }}" class="btn btn-primary">Go to Club Settings</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
