<div class="accordion" id="flight-report-accordian">
    {% for flight in league.flights %}
    <div class="accordion-item">
        <div class="accordion-header card-title" id="{{ flight.name }}">
            <button
                class="accordion-button collapsed btn-block btn-lg btn-secondary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse{{ flight.id }}"
                aria-expanded="false"
                aria-controls="collapse{{ flight.id }}"
                style="text-align: left"
            >
                <div class="flight-report-button">
                    <div><h3 class="card-title">{{ flight.name }}</h3></div>
                    {% if flight.report %} {% if flight.report.count == 1 %}
                    <div><span class="info">{{ flight.report.count }} Issue</span></div>
                    {% else %}
                    <div><span class="info">{{ flight.report.count }} Issues</span></div>
                    {% endif %} {% else %}
                    <div><span class="info">No Issues!</span></div>
                    {% endif %}
                </div>
            </button>
        </div>

        <div
            id="collapse{{ flight.id }}"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#flight-report-accordian"
        >
            <div class="accordion-body">
                {% for key in flight.report.issues %}
                <div>
                    <strong>{{ key }}</strong>
                    <ul>
                        {% for p in flight.report.issues[key] %}
                        <li>{{ p }}</li>
                        {% endfor %}
                    </ul>
                </div>

                {% endfor %}
                <br />
            </div>
        </div>
    </div>
    {% endfor %}
</div>
