{% extends "tabler/dashboard_base.html" %} {% block title %}Edit {{ league.name }}{% endblock %} {% block js %} {% assets
"tabler_plugins_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets %} {% assets "tabler_plugins_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %} {% endblock %} {% block body %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">Edit {{ league.name }}</h1>
        </div>
        <div class="row row-cards">
            <!-- Time Slots -->
            <!-- Players -->
            <!-- Facilities -->
            {% include 'league/edit_info.html' %}
            {% include 'league/edit_facilities.html' %}
        </div>
        {% include 'league/edit_schedule.html' %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/league_editor/edit_schedule.js') }}"></script>
{% endblock %}
