{% block body %}
<div class="col-12">
    <div class="card">
        <div class="card-header">Schedule</div>
        <div class="card-body" style="overflow: scroll">
            {% if league.flights %} {% for flight in league.flights %}
            <div class="mb-3">
                <label for="flight-{{ flight.id }}-input" class="form-label">Flight Name:</label>
                <input
                    type="text"
                    class="form-control form-control-lg"
                    id="flight-{{ flight.id }}-input"
                    value="{{ flight.name }}"
                />
            </div>

            <table class="schedule-table csv-table flight-sub-table table table-light table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>Player</th>
                        {% if league.timeslots %} {% for ts in league.timeslots %}
                        <th startTime="{{ ts.start_time }}" class="fp_dates">{{ ts.human_readable_mmdd_hhmm() }}</th>
                        {% endfor %} {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if league.players %} {% if league.players|length > 0 %} {% for p in league.players %} {% if
                    p.in_flight(flight) %}

                    <tr>
                        <td style="width: 100px; overflow-x: scroll; white-space: nowrap;">{{ p.first_name[0] }} {{ p.last_name }}</td>
                        {% for ts in league.timeslots %}
                        {% set player_availability = league.get_player_availability(p, ts) %}
                        {% if player_availability == 1 %}
                        <td class="availability bg-free", title="{{ p.full_name }}" availability="{{ player_availability }}"></td>
                        {% elif player_availability == 2 %}
                        <td class="availability bg-busy", title="{{ p.full_name }}" availability="{{ player_availability }}"></td>
                        {% else %}
                        <td class="availability bg-unavailable", title="{{ p.full_name }}" availability="{{ player_availability }}"></td>
                        {% endif %}
                        {% endfor %}
                        <!-- Additional player details here -->
                    </tr>
                    {% endif %} {% endfor %} {% else %}
                    <tr>
                        <td>No players found.</td>
                    </tr>
                    {% endif %} {% else %}
                    <tr>
                        <td>Players attribute not found.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            {% endfor %} {% endif %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/league_editor/edit_schedule.js') }}"></script>
{% endblock %}
