{% block body %}
<div class="col-12">
    <div class="card" style="flex: 1;">
        <div class="card-header">League Rules</div>
        <div class="card-body">
            <p>TODO: if league rules dont exist, check if any exist for the club and use the most recent one, unless copying a old league</p>
            <div class="row">
                <div class="col-md-4">
                    <!-- Content for column 1 -->
                    assume_busy<br>
                    min_games_total<br>
                    max_games_total<br>
                    min_games_day<br>
                    max_games_day<br>
                    
                </div>
                <div class="col-md-4">
                    min_games_week<br>
                    max_games_week<br>
                    max_double_headers<br>
                    max_concurrent_games<br>
                    max_week_gap<br>
                </div>
                <div class="col-md-4">
                    <!-- Content for column 3 -->
                    max_captained<br>
                    min_captained<br>
                    players_per_match<br>
                    minimum_subs_per_game<br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
