{% block body %}

<div class="card" style="flex: 1;">
    <div class="card-header">Timeslots</div>
    <div class="card-body d-flex flex-column">
        <div class="d-flex justify-content-between">
            <!-- <button title="Add Timeslot" id="add-timeslot-button" class="btn btn-primary mx-2"><i class="fe fe-plus"></i><i class="fe fe-clock"></i></button>
            <button title="Remove Timeslot" id="remove-timeslot-button" class="btn btn-primary mx-2"><i class="fe fe-minus"></i><i class="fe fe-clock"></i></button> -->
            <button title="Push Timeslot" id="push-timeslot-button" class="btn btn-primary mx-2">Push Time Slot</button>
            <button title="Pop Timeslot" id="pop-timeslot-button" class="btn btn-primary mx-2">Pop Time Slot</button>
        </div>
    </div>
</div>

{% endblock %}
