{% block body %}
<div class="row row-cards reveal-after" style="display: none">
    <div class="col-12">
        <div class="card">
            <div class="card-body" style="overflow-x: auto; overflow-y: hidden; margin-right: 16px">
                {% if league.flights %} {% for flight in league.flights %} {% set flightCounter = loop.index %}
                <table
                    {% if loop.index > 1 %} hidden {% endif %}
                    id="flight-{{ flightCounter }}"
                    flight="{{ flight.id }}"
                    flight-number="{{ flightCounter }}"
                    class="schedule-table csv-table flight-sub-table table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <input
                                    type="text"
                                    class="form-control form-control-lg flight-name-input"
                                    id="flight-{{ flight.id }}-input"
                                    value="{{ flight.name }}"
                                    flight="{{ flight.id }}"
                                />
                            </th>
                            {% if league.timeslots %} {% for ts in league.timeslots %}
                            <th ts="{{ts.id}}" startTime="{{ ts.start_time }}" class="timeslot_header">
                                {{ ts.human_readable_mmdd_hhmm() }}
                            </th>
                            {% endfor %} {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if league.players %} {% if league.players|length > 0 %} {% for p in league.players %} {% if
                        p.in_flight(flight) %}

                        <tr playerID="{{p.id}}" flight-number="{{ flightCounter }}">
                            <td
                                style="min-width: 120px"
                                class="d-flex justify-content-between align-items-center player-macros"
                            >
                                <button
                                    macro-type="up"
                                    flight-number="{{ flightCounter }}"
                                    class="btn btn-primary btn-sm move-up-button player_macro_button"
                                >
                                    <i class="fe fe-arrow-up"></i>
                                </button>
                                <button
                                    macro-type="down"
                                    flight-number="{{ flightCounter }}"
                                    class="btn btn-primary btn-sm move-down-button player_macro_button"
                                >
                                    <i class="fe fe-arrow-down"></i>
                                </button>
                                <button
                                    macro-type="remove"
                                    flight-number="{{ flightCounter }}"
                                    class="btn btn-danger btn-sm remove-user-button player_macro_button"
                                >
                                    <i class="fe fe-trash"></i>
                                </button>
                            </td>
                            <td style="width: 100px; overflow-x: scroll; white-space: nowrap">
                                {{ p.first_name[0] }} {{ p.last_name }}
                            </td>
                            {% for ts in league.timeslots %} {% set player_availability =
                            league.get_player_availability(p, ts) %} 
                            <td
                            {% if player_availability == 1 %}
                                class="availability bg-free"
                                title="{{ p.full_name }}"
                                availability="{{ player_availability }}"
                                timeslot="{{ts.id}}"
                                player="{{p.id}}"
                            {% elif player_availability == 2 %}
                                class="availability bg-busy"
                                title="{{ p.full_name }}"
                                availability="{{ player_availability }}"
                                timeslot="{{ts.id}}"
                                player="{{p.id}}"
                            {% else %}
                                class="availability bg-unavailable"
                                title="{{ p.full_name }}"
                                availability="{{ player_availability }}"
                                timeslot="{{ts.id}}"
                                player="{{p.id}}"
                            
                            {% endif %} 
                            > 
                        <div class="INFO" style="color:black;">
                            {% set captain = ts.is_player_captain(p) %}
                            {% set facility = ts.get_facility_for_player_in_game_event(p) %}
                            {% if facility %}
                            {% if captain %} Captain: {% endif %}
                                {{ facility.name }}
                            {% endif %}
                        </div>
                        </td>
                            {% endfor %}
                            <!-- Additional player details here -->
                        </tr>
                        {% endif %} {% endfor %} {% else %}
                        <tr>
                            <td>No players found.</td>
                        </tr>
                        {% endif %} {% else %}
                        <tr>
                            <td>Players attribute not found.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% endfor %} {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
