<div class="col-12">
    <div class="card" style="flex: 1">
        <!-- <div class="card-header">
            <h3 class="card-title">Basic Setup</h3>
        </div> -->
        <div class="card-body">
            <h5 class="card-title">Setup</h5>
            <div class="row flex-row">
                <div class="col-4">
                    <input
                        type="text"
                        class="form-control form-control-lg"
                        id="league-name-input"
                        placeholder="League Name"
                        value="{{league.name}}"
                    />
                </div>

                <div class="col-4">
                    <select class="custom-select form-control form-control-lg" id="league-type-input">
                        <option>Tennis</option>
                        <option>Paddle</option>
                    </select>
                </div>

                <div class="col-4">
                    <label for="game-duration-slider" class="form-label info-sm"
                        >Game Duration: <span id="duration-display"></span> minutes</label
                    >
                    <input
                        type="range"
                        class="form-range"
                        style="width: 100%"
                        min="0"
                        max="180"
                        value="60"
                        step="5"
                        id="game-duration-slider"
                    />
                </div>
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title">Timeline</h5>
            <div class="progress-container">
                <div class="flex-row col-12">
                    <div class="marker-label first"><span style="cursor: default;">Launch</span><div order='1' class="timeline-marker league-timeline-date" category='launch' time="{{ league.get_launch_date() }}">{{ league.get_launch_date().strftime('%m/%d/%y') }}</div></div>
                    <div class="marker-label"><span style="cursor: default;">Signup Deadline</span><div order='2' class="timeline-marker league-timeline-date" category='signup-deadline' time="{{ league.get_signup_deadline() }}">{{ league.get_signup_deadline().strftime('%m/%d/%y') }}</div></div>
                    <div class="marker-label"><span style="cursor: default;">Availability Deadline</span><div order='3' class="timeline-marker league-timeline-date" category='availability-deadline' time="{{ league.get_availability_deadline() }}">{{ league.get_availability_deadline().strftime('%m/%d/%y') }}</div></div>
                    <div class="marker-label"><span style="cursor: default;">Schedule Release</span><div order='4' class="timeline-marker league-timeline-date" category='schedule-out' time="{{ league.get_schedule_release_date() }}">{{ league.get_schedule_release_date().strftime('%m/%d/%y') }}</div></div>
                    <div class="marker-label"><span style="cursor: default;">Kick-off</span><div order='5' class="timeline-marker" category='kick-off' time="{{ league.get_start_date() }}">{{ league.get_start_date().strftime('%m/%d/%y') }}</div></div>
                    <div class="marker-label last"><span style="cursor: default;">Final Match</span><div order='6' class="timeline-marker" category='finale-match' time="{{ league.get_end_date() }}">{{league.get_end_date().strftime('%m/%d/%y')}}</div></div>
                </div>
                <div>
                    <div class="progress">
                        <div class="progress-bar-background"></div>
                        <div
                            id="league-timeline-progress-bar"
                            class="progress-bar"
                            role="progressbar"
                            style="width: 0%"
                            aria-valuenow="25"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                        <div class="marker" style="left: 0%"><div order='1' class="progress-marker"></div></div>
                        <div class="marker" style="left: 20%"><div order='2' class="progress-marker"></div></div>
                        <div class="marker" style="left: 40%"><div order='3' class="progress-marker"></div></div>
                        <div class="marker" style="left: 60%"><div order='4' class="progress-marker"></div></div>
                        <div class="marker" style="left: 80%"><div order='5' class="progress-marker"></div></div>
                        <div class="marker" style="left: 100%"><div order='6' class="progress-marker last"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title">Facilities</h5>
            <div class="row flex-row">
                {% if club.facilities %} {% for facility in club.facilities %}
                <div class="bordered-block col-2" facility="{{facility.id}}">
                    <div class="flex-row">
                        <div class="facility-title">{{ facility.name }}</div>
                        <input
                            {%
                            if
                            league.facility_in_league(facility)
                            %}
                            checked
                            {%endif%}
                            type="checkbox"
                            class="form-check-input-lg facility-checker"
                            facility="{{facility.id}}"
                            id="facility-{{ facility.id }}"
                        />
                    </div>
                    <div class="info-sm">{{ facility.asset_type }}</div>
                </div>

                {% endfor %} {% else %}
                <p>No facilities available.</p>
                <p>Head over to Club Settings to add some Facilities.</p>
                <a href="{{ url_for('club.index') }}" class="btn btn-primary">Go to Club Settings</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
