{% extends "tabler/dashboard_base.html" %} {% block title %}{{ league.name }} Scheduler{% endblock %} {% assets
"scheduler_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %} {% block body %}

<form id="hidden-form" style="display: none">{{ simple_form.hidden_tag() }}</form>

<div
    class="info"
    style="display: none"
    captain_checked="{{url_for('static', filename='public/scheduler-icons/captain_checked.svg')}}"
    captain_unchecked="{{url_for('static', filename='public/scheduler-icons/captain_unchecked.svg')}}"
    captain_warning="{{url_for('static', filename='public/scheduler-icons/captain_warning.svg')}}"
    face_neutral_warning="{{url_for('static', filename='public/scheduler-icons/face-neutral-warning.svg')}}"
    face_neutral="{{url_for('static', filename='public/scheduler-icons/face-neutral.svg')}}"
    tennis_racket_warning="{{url_for('static', filename='public/scheduler-icons/tennis-racket-warning.svg')}}"
    tennis_racket="{{url_for('static', filename='public/scheduler-icons/tennis-racket.svg')}}"
    league_rules_min_games_total="{{ league.rules.min_games_total }}"
    league_rules_max_games_total="{{ league.rules.max_games_total }}"
    league_rules_players_per_match="{{ league.rules.players_per_match }}"
    league_rules_max_games_week="{{ league.rules.max_games_week }}"
    league_rules_min_games_day="{{ league.rules.min_games_day }}"
    league_rules_max_games_day="{{ league.rules.max_games_day }}"
    league_rules_max_week_gap="{{ league.rules.max_week_gap }}"
    league_rules_max_double_headers="{{ league.rules.max_double_headers }}"
    league_rules_min_captained="{{ league.rules.min_captained }}"
    league_rules_max_captained="{{ league.rules.max_captained }}"
    league_rules_minimum_subs_per_game="{{ league.rules.minimum_subs_per_game }}"
    league_rules_assume_busy="{{league.rules.assume_busy}}"
>
    {% if league.flights %} {% for flight in league.flights %}
    <span data-flight-id="{{ flight.id }}"></span>
    {% endfor %} {% endif %}
</div>

<div class="my-3 my-md-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="page-header">
                <h1 class="page-title">{{ league.name }} Scheduler</h1>
            </div>
            <div>
                <button style="margin-right: 10px;" type="button" id="generate-button" class="btn btn-lg" title="Schedule" aria-label="Schedule">
                    <i class="fe fe-star" style="font-size: 1.5em"></i>
                </button>
                <button type="button" id="save-button" class="btn btn-lg" title="Save" aria-label="Save">
                    <i class="fe fe-save" style="font-size: 1.5em"></i>
                </button>
            </div>
        </div>

        <!-- Tab navigation -->
        <ul class="nav nav-tabs" id="flight-tabs">
            {% set first_flight = league.flights | first %} {% if league.flights %} {% for flight in league.flights %}
            <li class="nav-item">
                <a
                    href="javascript:void(0);"
                    class="nav-link flight-tab {% if flight == first_flight %}active{% endif %}"
                    id="flight-tab-{{ flight.id }}"
                    flight-id="{{ flight.id }}"
                    onclick="selectTab('{{ flight.id }}')"
                >
                    {{ flight.name }}
                </a>
            </li>
            {% set is_first_tab = false %} {% endfor %} {% endif %}
        </ul>

        <!-- Tab content -->
        {% if league.flights %} {% for flight in league.flights %}
        <div class="tab-content" id="flight-tab-content" flight-id="{{flight.id}}">
            <div class="row row-cards reveal-after" style="display: none">
                <div class="col-12">
                    <!-- You can add content related to each flight here -->
                    <div class="card">
                        <div class="card-header">{{flight.name}}: Schedule</div>
                        <div class="card-body" style="overflow-x: auto; overflow-y: hidden; margin-right: 16px">
                            <fieldset>
                                <table
                                    id="flight-{{ flightCounter }}"
                                    flight="{{ flight.id }}"
                                    flight-number="{{ flightCounter }}"
                                    class="schedule-table csv-table flight-sub-table table table-bordered table-hover table-sm"
                                >
                                    <thead>
                                        <tr>
                                            <th>Facilities</th>
                                            {% if league.timeslots %} {% for ts in league.timeslots %}
                                            <th
                                                ts="{{ts.id}}"
                                                startTime="{{ ts.start_time }}"
                                                class="timeslot_header"
                                                {%
                                                if
                                                league.players
                                                %}
                                                {%
                                                if
                                                league.players|length
                                            >
                                                0 %} {% for p in league.players %} {% if p.in_flight(flight) %}
                                                player-{{p.id}}={{league.get_player_availability(p, ts)}} {% endif %} {%
                                                endfor %} {% endif %} {% endif %}> {{ ts.human_readable_mmdd_hhmm() }}
                                            </th>
                                            {% endfor %} {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for facility in club.facilities %}
                                        <tr>
                                            {% if league.facility_in_league(facility) %}
                                            <th>{{ facility.name }}</th>
                                            {% for ts in league.timeslots %}
                                            <td
                                                class="draggable-target facility-timeslot"
                                                facility="{{ facility.id }}"
                                                timeslot="{{ ts.id }}"
                                                flight="{{ flight.id }}"
                                            >
                                                {% set games = league.get_game_event(facility=facility, timeslot=ts,
                                                flight=flight) %} {% if games %}

                                                <div class="served_game_info_div" flight-id="{{flight.id}}">
                                                    {% for p in games[0].players %}
                                                    <div
                                                        class="player_in_sg"
                                                        player-id="{{p.id}}"
                                                        player-fullname="{{p.full_name}}"
                                                        player-name="{{ p.first_name[0] }} {{ p.last_name[:8] }}"
                                                        captain="{{ 1 if p.id == games[0].captain.id else 0 }}"
                                                    ></div>
                                                    {% endfor %}
                                                </div>

                                                {%endif%}
                                            </td>
                                            {% endfor %} {%endif%}
                                        </tr>
                                        {% endfor %}

                                        <tr>
                                            <th>SUB</th>
                                            {% for ts in league.timeslots %}
                                            <td
                                                class="draggable-target"
                                                facility="-1"
                                                timeslot="{{ ts.id }}"
                                                flight="{{ flight.id }}"
                                            ></td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cards reveal-after" style="display: none">
                <div class="col-12">
                    <div class="card player-flight-source" flight-id="{{flight.id}}">
                        <div class="card-header">{{flight.name}}: Players</div>
                        <fieldset>
                            <div class="card-body d-flex flex-wrap justify-content-start">
                                {% if league.players %} {% if league.players|length > 0 %} {% for p in league.players %}
                                {% if p.in_flight(flight) %}
                                <div class="col-6 col-sm-6 col-lg-3 mb-4">
                                    <div
                                        class="card player-card"
                                        player-id="{{ p.id }}"
                                        player-name="{{ p.first_name[0] }} {{ p.last_name[:8] }}"
                                        player-full-name="{{p.full_name}}"
                                    >
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <div>{{p.full_name}}</div>
                                            <div class="pool draggable-source draggable-target"></div>
                                        </div>
                                        <div class="card-body">
                                            <table class="tiny-table">
                                                <tr>
                                                    <td class="game-count-icon"></td>
                                                    <td class="captain-count-icon"></td>
                                                    <td class="low-preference-count-icon"></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="player-game-count">0</span></td>
                                                    <td><span class="player-captain-count">0</span></td>
                                                    <td><span class="player-badtimeslot-count">0/0</span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% endif %} {% endfor %} {% endif %} {% endif %}
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>

<script>
    var info;
    const FREE = 1;
    const BUSY = 2;
    const UNAVAILABLE = 3;

    document.addEventListener("DOMContentLoaded", function () {
        info = new InfoClass();
        setupPlayerDraggableOrigins();
        setupPlayerDraggableInGames();
        setupShowActiveFlight();
        addImagesToTableData();
        revealHidden();
        setupDragula();

        for (let id of info.flightIds) {
            updatePlayerCards(id);
        }
        saveButton = document.getElementById("save-button");
        saveButton.addEventListener("click", saveButtonCallback);

        generateButton = document.getElementById("generate-button");
        generateButton.addEventListener("click", generateButtonCallback);
        
    });
</script>
{% endblock %}
