<div class="card flight-report" style="flex: 1" flight-id="{{flight.id}}">
    <div class="card-header">
        <div class="col-12" style="display: flex; justify-content: space-between; align-items: center; width: 100%">
            {% if flight.report %}
            {% if flight.report.count == 1 %}
                <h3 class="card-title">{{flight.name}}: {{flight.report.count}} Issue</h3>
            {% else %}    
            <h3 class="card-title">{{flight.name}}: {{flight.report.count}} Issues</h3>
            {% endif %}
            {% else %}
            <h3 class="card-title">{{flight.name}}: 0 Issues!</h3>
            {% endif %}
            <div class="info save-to-update-flash" ></div>
        </div>
    </div>

    <div class="card-body">
        {% if flight.report %} 
        {% for key in flight.report.issues %}
        <div>
            <strong>{{ key }}</strong>
            <ul>
                {% for p in flight.report.issues[key] %}
                <li>{{ p }}</li>
                {% endfor %}
            </ul>
        </div>

        {% endfor %}{% endif %}
    </div>
</div>
