hr.thin {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.bg-populated {
    background-color: #4F97D7 !important;
}

/* .bg-busy {
    background-color: #9A52B9 !important;
}

.bg-unavailable {
    background-color: #F57373 !important;
} */

.bg-free {
    background-color: #8ee68a !important; /* Pastel Green */
}

.bg-busy {
    background-color: #f4e87c !important; /* Pastel Yellow */
}

.bg-unavailable {
    background-color: #f79898 !important; /* Pastel Red */
}

/* Dragula */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
/* End Dragula */

.draggable-item {
    min-width: 80px;
    width: 110px;
    height: 30px;
    border: solid 1px black;
    color: black;
    border-radius: 5px;
    margin: 5px;
    cursor: move;
    white-space: nowrap;
    user-select: none;
    text-align: right;
    /* Flexbox settings */
    display: flex;
    padding: 0 10px; /* Add some padding on left and right */
    /* text-transform: uppercase; */
}

table.schedule-table {
    flex-grow: 1;
}

table.tiny-table {
    border-collapse: collapse;
    border: none;
    text-align: center;
    margin: 0;
    width: 100%;
}

.tiny-table td,
.tiny-table th {
    min-height: 0.5em;
    padding: 0.5em; /* Adjusts the padding */
    text-align: center; /* Adjusts the text alignment */
    vertical-align: middle;
}

.captain-radio {
    min-width: 10px !important;
    padding-top: 4px !important;
}

.fg-success {
    color: green !important; /* Pastel Green */
}

.fg-failure {
    color: red !important; /* Pastel Red */
}

tr.double-top-border {
     border-top: 5px double #4d4a47;
}

.unavailable {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    color: #837f75;
}

.flight-report-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Adjust width as needed */
}

.info {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 400;
    color: #837f75;
}